<!DOCTYPE html>
<html>

<head>
    <link href='../assets/fonts/Icons.css' rel="stylesheet">
    <link href="../assets/css/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <v-app id="app">
        <v-container>
            <v-layout row wrap align-center style="justify-content: center;align-items:center;">
                <v-tabs v-model="active" color="cyan" dark slider-color="yellow">
                    <v-tab ripple>
                        Step 1 - Add Documents
                    </v-tab>
                    <v-tab-item>
                        <v-flex mt-3 class="text-xs-center">
                            <v-form v-model="form">
                                <v-flex mt-4>
                                </v-flex>
                                <v-flex mat4>
                                    <v-textarea v-model="CurrentDocumentContent" auto-grow box :rules="DocumentContentRule"
                                        color="deep-purple" label="Document text" rows="2"></v-textarea>
                                </v-flex>
                                <v-flex mt-3>
                                    <v-btn class="red" dark large @click="handleNewDoc()">
                                        Add Document
                                    </v-btn>
                                </v-flex>
                            </v-form>
                        </v-flex>
                        <v-flex xs12></v-flex>
                        <v-flex mt-3 class="text-xs-center">
                            <div class="font-weight-thin display-3 mb-2 mt-2">Documents</div>
                            <v-flex v-if="!Documents.length" class="font-weight-thin display-1">No Documents to Show</v-flex>
                            <v-flex v-else>
                                <template v-for="(item,i) in this.Documents">
                                    <v-card class="red lighten-4">
                                        <v-flex class="ma-2">
                                            <div class="display-2">{{item.Name}}</div>
                                            <v-list-tile>
                                                <v-list-tile-content>
                                                    {{item.Content}}
                                                </v-list-tile-content>
                                            </v-list-tile>
                                        </v-flex>
                                    </v-card>
                                </template>
                            </v-flex>
                            </div>
                        </v-flex>
                        <v-flex xs12></v-flex>
                        <v-flex xs1 class="text-xs-center">
                            <v-btn class="Blue" dark color="blue" large @click="next()">
                                Next
                            </v-btn>
                        </v-flex>
                    </v-tab-item>
                    <v-tab ripple>
                        Step 2 - Calculate Doc TF-IDF
                    </v-tab>
                    <v-tab-item>
                        <v-flex mt-3 class="text-xs-center">
                            <v-btn class="black" dark large @click="calc_IDF()">
                                Calculate idf
                            </v-btn>
                            <v-btn class="black" dark large @click="calc_TFVector()">
                                Calculate tf
                            </v-btn>
                            <v-btn class="black" dark large @click="calc_TF_IDFVector()">
                                Calculate tf*idf
                            </v-btn>
                        </v-flex>
                        <v-flex mt-3 class="text-xs-center">
                            <div class="font-weight-thin display-3 mb-2 mt-2">IDF For Each Word</div>
                            <v-flex v-if="!idfCalc" class="font-weight-thin display-1">IDFs not Calculated</v-flex>
                            <v-flex v-else>
                                <template v-for="(item,i) in this.wordsList">
                                    <v-card class="blue lighten-4">
                                        <v-flex class="ma-2">
                                            <v-list-tile>
                                                <v-list-tile-content>
                                                    {{item.termName}} idf =
                                                    log10({{Documents.length}}/{{item.termDublications}}) = {{item.idf}}
                                                </v-list-tile-content>
                                            </v-list-tile>
                                        </v-flex>
                                    </v-card>
                                </template>
                            </v-flex>
                            </div>
                        </v-flex>
                        <v-flex xs12></v-flex>
                        <v-flex mt-3 class="text-xs-center">
                            <div class="font-weight-thin display-3 mb-2 mt-2">TF For Each Word</div>
                            <v-flex v-if="!tfvectorex" class="font-weight-thin display-1">TFs not Calculated</v-flex>
                            <v-flex v-else>
                                <table v-if="tfvector" class="elevation-15 text-xs-center">
                                    <tr>
                                        <th class="pa-2 display-1" v-for="header in tfheaders">{{header}}</th>
                                    </tr>
                                    <tr v-for="(term,i) in tfvector">
                                        <td>{{wordsList[i].termName}}</td>
                                        <td v-for="bool in term">{{bool}}</td>
                                    </tr>
                                </table>
                            </v-flex>
                            </div>
                        </v-flex>
                        <v-flex xs12></v-flex>
                        <v-flex mt-3 class="text-xs-center">
                            <div class="font-weight-thin display-3 mb-2 mt-2">TF*IDF For Each Word</div>
                            <v-flex v-if="!tfidfvectorex" class="font-weight-thin display-1">TF*IDF not Calculated</v-flex>
                            <v-flex v-else>
                                <table v-if="tfvector" class="elevation-15 text-xs-center">
                                    <tr>
                                        <th class="pa-2 display-1" v-for="header in tfheaders">{{header}}</th>
                                    </tr>
                                    <tr v-for="(term,i) in tfidfvector">
                                        <td>{{wordsList[i].termName}}</td>
                                        <td v-for="bool in term">{{bool}}</td>
                                    </tr>
                                </table>
                            </v-flex>
                            </div>
                        </v-flex>
                        <v-flex xs12></v-flex>
                        <v-flex xs1 class="text-xs-center">
                            <v-btn class="Blue" dark color="blue" large @click="next()">
                                Next
                            </v-btn>
                        </v-flex>
                    </v-tab-item>
                    <v-tab ripple>
                        Step 3 - Enter Query
                    </v-tab>
                    <v-tab-item>
                        <v-flex xs12></v-flex>
                        <div class="font-weight-thin display-3 mb-2 mt-2">Enter Query</div>
                        <v-flex xs12></v-flex>
                        <v-flex mt-3 class="text-xs-center">
                            <v-text-field @change="" v-model="QueryText" label="Enter a Query" :rules="QueryRule" clearable
                                auto-grow box mt-4></v-text-field>
                        </v-flex>
                        <v-flex xs12></v-flex>
                        <v-flex xs1 class="text-xs-center">
                            <v-btn class="Blue" dark color="blue" large @click="calc_TF_IDFQuery()">
                                Next
                            </v-btn>
                        </v-flex>
                    </v-tab-item>
                    <v-tab ripple>
                        Step 4 - Calculate Query TF-IDF
                    </v-tab>
                    <v-tab-item>
                        <v-flex xs12></v-flex>
                        <div class="font-weight-thin display-3 mb-2 mt-2">Calculate Query TF-IDF</div>
                        <v-flex xs12></v-flex>
                        <v-flex mt-3 class="text-xs-center">
                            <div class="font-weight-thin display-3 mb-2 mt-2">TF*IDF For Each Query Word</div>
                            <v-flex v-if="!tfidfqueryex" class="font-weight-thin display-1">TF*IDF not Calculated</v-flex>
                            <v-flex v-else>
                                <template v-for="(item,i) in this.tfidfquery">
                                    <v-card class="blue lighten-4">
                                        <v-flex class="ma-2">
                                            <v-list-tile>
                                                <v-list-tile-content>
                                                    {{item.termName}} TF*IDF = {{item.termDublications}} * {{item.termidf}}
                                                    =
                                                    {{item.tfidf}}
                                                </v-list-tile-content>
                                            </v-list-tile>
                                        </v-flex>
                                    </v-card>
                                </template>
                            </v-flex>
                            </div>
                        </v-flex>
                        <v-flex xs12></v-flex>
                        <v-flex xs1 class="text-xs-center">
                            <v-btn class="Blue" dark color="blue" large @click="calc_TF_IDFQuery()">
                                Next
                            </v-btn>
                        </v-flex>
                    </v-tab-item>
                    <v-tab ripple>
                        Step 5 - Sim() and CosSim()
                    </v-tab>
                    <v-tab-item>
                        <v-flex xs12></v-flex>
                        <v-flex mt-3 class="text-xs-center">
                            <v-btn class="black" dark large @click="calc_length()">
                                Calculate lengths
                            </v-btn>
                            <v-btn class="black" dark large @click="calc_sim()">
                                Calculate sim
                            </v-btn>
                            <v-btn class="black" dark large @click="calc_cosSim()">
                                Calculate cossim
                            </v-btn>
                        </v-flex>
                        <v-flex xs12></v-flex>
                        <v-flex mt-3 class="text-xs-center">
                            <div class="font-weight-thin display-3 mb-2 mt-2">lengths</div>
                            <v-flex v-if="!lengthex" class="font-weight-thin display-1">lengths not Calculated</v-flex>
                            <v-flex v-else>
                                <v-card class="blue lighten-4">
                                    <v-flex class="ma-2">
                                        <v-list-tile>
                                            <v-list-tile-content>
                                                length of q = {{this.length[0]}}
                                            </v-list-tile-content>
                                        </v-list-tile>
                                    </v-flex>
                                </v-card>
                                <template v-for="(item,i) in this.length">
                                    <v-card v-if="i != 0" class="blue lighten-4">
                                        <v-flex class="ma-2">
                                            <v-list-tile>
                                                <v-list-tile-content>
                                                    length of D{{i}} = {{item}}
                                                </v-list-tile-content>
                                            </v-list-tile>
                                        </v-flex>
                                    </v-card>
                                </template>
                            </v-flex>
                            </div>
                        </v-flex>
                        <v-flex xs12></v-flex>
                        <v-flex mt-3 class="text-xs-center">
                            <div class="font-weight-thin display-3 mb-2 mt-2">Sim()</div>
                            <v-flex v-if="!simex" class="font-weight-thin display-1">Sim() not Calculated</v-flex>
                            <v-flex v-else>
                                <template v-for="(item,i) in this.sim">
                                    <v-card class="blue lighten-4">
                                        <v-flex class="ma-2">
                                            <v-list-tile>
                                                <v-list-tile-content>
                                                    Sim(D{{i+1}},q) = {{item.toFixed(3)}}
                                                </v-list-tile-content>
                                            </v-list-tile>
                                        </v-flex>
                                    </v-card>
                                </template>
                            </v-flex>
                            </div>
                        </v-flex>
                        <v-flex xs12></v-flex>
                        <v-flex mt-3 class="text-xs-center">
                            <div class="font-weight-thin display-3 mb-2 mt-2">CosSim()</div>
                            <v-flex v-if="!cossimex" class="font-weight-thin display-1">CosSim() not Calculated</v-flex>
                            <v-flex v-else>
                                <template v-for="(item,i) in this.cossim">
                                    <v-card class="blue lighten-4">
                                        <v-flex class="ma-2">
                                            <v-list-tile>
                                                <v-list-tile-content>
                                                    Doc {{item.docid}} : CosSim(D{{item.docid}},q) =
                                                    {{item.value.toFixed(3)}}
                                                </v-list-tile-content>
                                            </v-list-tile>
                                        </v-flex>
                                    </v-card>
                                </template>
                            </v-flex>
                            </div>
                        </v-flex>
                    </v-tab-item>
                </v-tabs>
                <v-flex xs12></v-flex>
            </v-layout>
        </v-container>

    </v-app>

    <script src="../assets/js/vue.js"></script>
    <script src="../assets/js/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    form: true,
                    active: null,
                    CurrentDocumentContent: '',
                    QueryText: '',
                    idfCalc: false,
                    tfvectorex: false,
                    tfidfvectorex: false,
                    tfidfqueryex: false,
                    lengthex: false,
                    simex: false,
                    cossimex: false,

                    wordsList: [],
                    Documents: [],
                    tfheaders: [],
                    result: [],
                    tfvector: [],
                    tfidfvector: [],
                    tfidfquery: [],
                    length: [],
                    sim: [],
                    cossim: [],

                    QueryRule: [
                        v => !!v || 'A Query is required'
                    ],

                    DocumentContentRule: [
                        v => !!v || 'Some content is required',
                        v => (v && v.length >= 5) || 'Document content must be more than 10 characters'
                    ]
                }
            },
            methods: {
                next: function () {
                    const active = parseInt(this.active)
                    this.active = (active < 4 ? active + 1 : 0)
                },
                handleNewDoc: function () {
                    //Add to Documents
                    this.Documents.push({
                        Name: `Doc ${this.Documents.length+1}`,
                        Content: this.CurrentDocumentContent
                    })
                    //this returns new array with terms
                    let DocumentWords = this.CurrentDocumentContent.toLowerCase().split(' ')
                    //getting every term out of the array and inserting into bag of words and count dublications
                    DocumentWords.forEach((term) => {
                        let found = false
                        for (var i = 0; i < this.wordsList.length; i++) {
                            if (this.wordsList[i].termName == term) {
                                found = true
                                    ++this.wordsList[i].termDublications
                                break
                            }
                        }
                        if (!found) this.wordsList.push({
                            termName: term,
                            termDublications: 1,
                            idf: 0
                        })
                    })
                    // this.CurrentDocumentName = ''
                    this.CurrentDocumentContent = ''
                    console.log(this.wordsList)
                },
                calc_IDF: function () {
                    let N = this.Documents.length
                    this.wordsList.forEach((term) => {
                        term.idf = Math.log10(N / term.termDublications).toFixed(3)
                    })
                    this.idfCalc = true
                    console.log(this.wordsList)
                },
                calc_TFVector: function () {
                    this.tfheaders = ['Words/Docs']
                    this.Documents.forEach((doc, index) => this.tfheaders.push(`Doc ${index+1}`))

                    for (let wordid = 0; wordid < this.wordsList.length; wordid++) {
                        this.tfvector.push(new Array());
                        for (let docid = 0; docid < this.Documents.length; docid++) {
                            this.tfvector[wordid].push(0);
                        }
                    }

                    for (let docid = 0; docid < this.Documents.length; docid++) {
                        for (let wordid = 0; wordid < this.wordsList.length; wordid++) {
                            if (this.Documents[docid].Content.toLowerCase().includes(this.wordsList[wordid]
                                    .termName)) {
                                ++this.tfvector[wordid][docid]
                            } else {
                                this.tfvector[wordid][docid] = 0
                            }
                        }
                    }
                    console.log(this.tfvector)
                    this.tfvectorex = true
                },
                calc_TF_IDFVector: function () {
                    for (let wordid = 0; wordid < this.wordsList.length; wordid++) {
                        this.tfidfvector.push(new Array());
                        for (let docid = 0; docid < this.Documents.length; docid++) {
                            this.tfidfvector[wordid].push(0);
                        }
                    }

                    for (let docid = 0; docid < this.Documents.length; docid++) {
                        for (let wordid = 0; wordid < this.wordsList.length; wordid++) {
                            if (this.Documents[docid].Content.toLowerCase().includes(this.wordsList[wordid]
                                    .termName)) {
                                this.tfidfvector[wordid][docid] = this.tfvector[wordid][docid] * this.wordsList[
                                    wordid].idf
                            } else {
                                this.tfidfvector[wordid][docid] = 0
                            }
                        }
                    }
                    console.log(this.tfidfvector)
                    this.tfidfvectorex = true
                },
                calc_TF_IDFQuery: function () {
                    this.next()
                    Querywords = this.QueryText.toLowerCase().split(' ')
                    Querywords.forEach((term) => {
                        let found = false
                        for (var i = 0; i < this.tfidfquery.length; i++) {
                            if (this.tfidfquery[i].termName == term) {
                                found = true
                                    ++this.tfidfquery[i].termDublications
                                break
                            }
                        }
                        if (!found) {
                            let termid = -1
                            termid = this.wordsList.findIndex(x => x.termName == term)
                            this.tfidfquery.push({
                                termidf: this.wordsList[termid].idf,
                                termName: term,
                                termoldid: termid,
                                termDublications: 1,
                                tfidf: 0
                            })
                        }
                    })
                    this.tfidfquery.forEach((term) => {
                        term.tfidf = term.termDublications * term.termidf
                    })
                    console.log(this.tfidfquery)
                    this.tfidfqueryex = true

                },
                calc_length: function () {
                    let querysums = 0;
                    this.tfidfquery.forEach((term) => {
                        querysums += Math.pow(term.tfidf, 2)
                    })
                    this.length.push(Math.sqrt(querysums).toFixed(3))

                    for (let col = 0; col < this.tfidfvector[0].length; col++) {
                        let docsums = 0;
                        for (let row = 0; row < this.tfidfvector.length; row++) {
                            if (!this.tfidfvector[row][col] == 0) {
                                docsums += Math.pow(this.tfidfvector[row][col], 2)
                            }
                        }
                        this.length.push(Math.sqrt(docsums).toFixed(3))
                    }
                    console.log(this.length)
                    this.lengthex = true
                },
                calc_sim: function () {
                    let sum = 0
                    for (let docid = 0; docid < this.tfidfvector[0].length; docid++) {
                        this.tfidfquery.forEach((term) => {
                            sum +=  this.tfidfvector[term.termoldid][docid] * term.tfidf
                        })
                        this.sim.push(sum)
                        sum = 0
                    }
                    console.log(this.sim)
                    this.simex = true
                },
                calc_cosSim: function () {
                    this.sim.forEach((term,i)=>{
                        this.cossim.push({value: (term/(this.length[i+1]*this.length[0])),docid: this.cossim.length+1})
                    })
                    console.log(this.cossim)
                    this.cossimex = true
                }
            }
        })
    </script>
</body>

</html>