<!DOCTYPE html>
<html>
<head>
  <link href='../assets/fonts/Icons.css' rel="stylesheet">
  <link href="../assets/css/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <v-app id="app">
    <v-container>
      <v-layout row wrap align-center style="justify-content: center;align-items:center;">
        <v-flex xs6 class="text-xs-center">
          <v-form v-model="form">
            <v-flex mt-4>
            </v-flex>
            <v-flex mat4>
              <v-textarea v-model="CurrentDocumentContent" auto-grow box :rules="DocumentContentRule" color="deep-purple"
                label="Document text" rows="2"></v-textarea>
            </v-flex>
            <v-flex mt-3>
              <v-btn class="red" dark large @click="handleNewDoc()">
                Add Document
              </v-btn>
              <v-btn class="coral" dark large @click="GenerateIIM()">
                Generate Inverted Index Model
              </v-btn>
            </v-flex>
          </v-form>
        </v-flex>
        <v-flex xs12></v-flex>
        <v-flex xs6 class="text-xs-center">
          <div class="font-weight-thin display-3 mb-2 mt-2">Documents</div>
          <v-flex v-if="!Documents.length" class="font-weight-thin display-1">No Documents to Show</v-flex>
          <v-flex v-else>
            <template v-for="(item,i) in this.Documents">
              <v-layout row wrap align-center style="justify-content:center;align-items:center;" class="mb-2">
                  <v-flex xs12>
                    <v-card class="red white--text">
                      <div >{{item.Name}}</div>
                      <div >{{item.Content}}</div>
                    </v-card>
                  </v-flex>
                  <v-flex xs6>
                      <v-card class="blue white--text">
                          <div >Tokens</div>
                          <div>{{item.Tokens}}</div>
                        </v-card>
                  </v-flex>
              </v-layout>
            </template>
          </v-flex>
        </v-flex>
        <v-flex xs12></v-flex>
        <v-layout row wrap align-center style="justify-content:center;align-items:center;" class="mb-2">
          <v-flex xs6 class="text-xs-center">

          
          <v-flex mt-4>
                   <v-text-field
                  @change = ""
                    v-model="QueryText"
                     label="Enter a Word"
                     :rules = "QueryRule"
                     clearable
                     mt-3
                   ></v-text-field>
           </v-flex>
           <v-flex xs12></v-flex>
          <v-flex mt-4>
            <v-btn
            class= "Blue"
            dark
             large
             @click="Query"
             >
            Go
             </v-btn>
    </v-flex>
    <v-flex xs12></v-flex>
          <v-flex mt-4 v-if="matchedDocs.length">
            <div class="display-2">Query Results</div>
                <h2 >Matched Documents Names</h2>
                <v-flex xs12>
                    <span v-for="docID in postingList" style="display:inline" class="ma-2 pa-2">{{docID}}</span>
                </v-flex>
                <h2>Matched Documents Content</h2>
               <v-flex xs12>
                  <span v-for="doc in matchedDocs" style="display:block">{{doc.Name}} : {{doc.Content}}</span>
               </v-flex>
              
              
            </div>
        </v-flex>
      </v-flex>
        </v-layout>
      
      </v-layout>
    </v-container>
  </v-app>
</body>

</html>
<script src="../assets/js/stemmer.js"></script>
<script src="../assets/js/vue.js"></script>
<script src="../assets/js/vuetify.js"></script>
<script>
 new Vue({
         el: '#app',
         data(){
             return {
                    form:true,
                    CurrentDocumentContent:'',
                    bagOfWords:[],
                    postingList:[],
                    Structure:{},
                    QueryText:'',
                    InvertedIndex:[],
                    matchedDocs:[],
                    Documents : [
                    ],
                    // QueryText:'',
                    // QueryRule:[v => !! v || 'A Query is required'],

                    DocumentContentRule :[
                        v => !!v || 'Some content is required',
                        v => (v && v.length >= 5) || 'Document content must be more than 10 characters' 
                    ],
                    QueryRule:[v => !! v || 'A Query is required']
             }
         },
         methods : {
            handleNewDoc : function(){
                if(/\S/.test(this.CurrentDocumentContent)){
                //DOC TEXT
                let Content = this.CurrentDocumentContent
                //DOC WITH OUT STOPWORDS >> ARRAY OF TERMS
                let DocumentWithoutStopwords = this.removeStopWords(Content.toLowerCase().trim().split(' '))
                //BAG OF WORDS "ARRAY" CONTAINING ALL THE TERMS OF ALL THE DOCUMENTS
                DocumentWithoutStopwords.forEach((term)=>this.bagOfWords.push(stemmer(term)))
                this.Documents.push({
                        //Name: this.CurrentDocumentName,
                        Name:`Doc ${this.Documents.length+1}`,
                        Content: this.CurrentDocumentContent.trim(),
                        Tokens:DocumentWithoutStopwords,
                        cleaned:DocumentWithoutStopwords.map((el)=>stemmer(el))
                  })
                }
            },
            Query: function(){
              this.matchedDocs = []
              this.postingList = []
              this.postingList = this.Structure[stemmer(this.QueryText)].Docs
              this.Documents.map((doc)=> this.postingList.includes(doc.Name) ? this.matchedDocs.push({Content: doc.Content,Name:doc.Name}) : '')
              console.log(this.Structure)
            } ,
            GenerateIIM: function(){
              this.Structure = {}
              /*
              Steps to build an inverted index:

              1- Fetch the Document & Removing of Stop Words
              2- Stemming of Root Word (this will make the search easier for users)
              3- Record Document IDs
i'm loving these dogs and watching them eating is my favourite thing
              */

              //Fetching Documents
              // let Docs = this.Documents.map( el=> ({text:el.Content,id:el.Name}))
              //Stemming and Removing Stopwords
              let terms = this.getUniqueTerms(this.bagOfWords)
              //Record Document IDs
              terms.forEach((term)=>{
                if(!this.Structure[term]){
                  let FoundDocs =  []
                  this.Documents.forEach((doc)=> doc.cleaned.includes(term)?FoundDocs.push(doc.Name):null)
                  this.Structure[term] = {
                    Docs: FoundDocs,
                }
              }
              })
              console.log(this.Structure)              
              //console.log(Stemmed)
            },
            //a function to return new array of all the words so far from documents without Stop words
            removeStopWords  : Document => Document.filter( term => stopwords.includes(term) !=true ),
            //a function to return a new array with no duplicates
            getUniqueTerms : a => [...new Set(a)],
          }
    })
</script>

<script>
  let stopwords = [
    "a", "about", "above", "after", "again", "against", "all",
    "am", "an", "and", "any", "are", "aren't", "as", "at", "be", "because", "been", "before", "being", "below",
    "between", "both", "but", "by", "can't", "cannot", "could", "couldn't", "did", "didn't", "do", "does", "doesn't",
    "doing", "don't", "down", "during", "each", "few", "for", "from", "further", "had", "hadn't", "has", "hasn't",
    "have", "haven't", "having", "he", "he'd", "he'll", "he's", "her", "here", "here's", "hers", "herself", "him",
    "himself", "his", "how", "how's", "i", "i'd", "i'll", "i'm", "i've", "if", "in", "into", "is", "isn't", "it",
    "it's", "its", "itself", "let's", "me", "more", "most", "mustn't", "my", "myself", "no", "nor", "not", "of",
    "off", "on", "once", "only", "or", "other", "ought", "our", "ours",
    "ourselves", "out", "over", "own", "same", "shan't", "she",
    "she'd", "she'll", "she's", "should", "shouldn't", "so", "some",
    "such", "than", "that", "that's", "the", "their", "theirs", "them",
    "themselves", "then", "there", "there's", "these", "they", "they'd",
    "they'll", "they're", "they've", "this", "those", "through", "to", "too",
    "under", "until", "up", "very", "was", "wasn't", "we", "we'd", "we'll",
    "we're", "we've", "were", "weren't", "what", "what's", "when", "when's",
    "where", "where's", "which", "while", "who", "who's", "whom", "why",
    "why's", "with", "won't", "would", "wouldn't", "you", "you'd", "you'll",
    "you're", "you've", "your", "yours", "yourself", "yourselves", " "
  ]
</script>